@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg: 9 9 11;
    --fg: 250 250 250;
    --muted: 63 63 70;
    --accent: 250 204 21;
    --card: 24 24 27;
    --border: 39 39 42;
  }
  body {
    @apply bg-zinc-950 text-zinc-100 antialiased;
  }
}
